{% extends 'base.html.twig' %}

{% block title %}Flex Shop!{% endblock %}

{% block body %}
<style>
    .custom-footer {border-top: 1px solid #eee;padding: 15px;}
    .custom-footer span {font-size:1.5em}
</style>
<div class="container">
    <div class="row">
        <aside class="col-sm-3 mt-4">
            <div class="card">
                <div class="card-header">
                    Featured Categories
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{{path('home',{'category': 'all'})}}" class="active"> All Categories </a></li>
                    {% for category in categories %}
                    <li class="list-group-item"><a href="{{path('home',{'category': category.name})}}">{{category.name}}</a></li>
                    {% else %}
                    <li class="list-group-item">No records found</li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <main class="col-sm-9">
        <div class="row">
            {% for product in products %}
            <div class="col-4 mt-4">
                <div class="card">
                    <img src="{{ asset('uploads/products/' ~ product.image) }}" class="card-img-top" alt="product image" style="height:10em;">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        {# <p class="card-text">{{product.description}}</p> #}
                    </div>
                    <div class="custom-footer">
                        <span>${{product.price|number_format(2)}}</span>
                        <a href="{{path('product_details',{'id':product.id})}}" class="btn btn-primary float-right">Details</a>
                    </div>
                </div>
            </div>
            {% else %}
            <h3>No products in stock at the moment</h3>
            {% endfor %}
        </div>
            
        </main>
    </div>
</div>
{% endblock %}
