{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2 my-5">
                <h2>Registration Form</h2>

                <div class="my-4">
                    {{ form_start(registrationForm) }}
                     
                        <div class="row mt-2">
                            <div class="col-md-6">
                                {{ form_row(registrationForm.firstname, {label: 'First Name','attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(registrationForm.lastname, {label: 'Last Name','attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(registrationForm.password, {label: 'Password', 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                {{ form_row(registrationForm.address, {label: 'Address','attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                {{ form_row(registrationForm.phone, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 float-right">Register</button>
                    {{ form_end(registrationForm) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
