<div class="row">
    <div class="col-md-10 ml-md-auto">
      <div class="">
      <a href="{{path('products')}}">Back to Products</a>
        <div class="card bg-light mb-3 mt-5" style="width: 800px;">
          <div class="card-body">
            <div class="card-header mb-3">{{header}}</div>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-3">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
</div>