{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Your Cart</h1>
            <div class="row mt-4">
                <!-- List of items -->
                <div class="col-md-6">
                    {{ form_start(form) }}
                    <div class="card">
                        <div class="card-header bg-light d-flex">
                            <h5>Items</h5>
                            <div class="ml-auto">
                                {{ form_widget(form.order, {'attr': {'class': 'btn btn-success'}}) }}
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for item in form.items %}
                                <li class="list-group-item d-flex">
                                    <div class="flex-fill mr-2">
                                        <img src="{{ asset('uploads/products/' ~ item.vars.data.product.image) }}" width="64" alt="{{item.vars.data.product.image}}">
                                    </div>
                                    <div class="flex-fill mr-2">
                                        <h5 class="mt-0 mb-0">{{ item.vars.data.product.name }}</h5>
                                        <small>{{ item.vars.data.product.description[:50] }}...</small>
                                        <div class="form-inline mt-2">
                                            <div class="form-group mb-0 mr-2">
                                                {{ form_widget(item.quantity, {
                                                    'attr': {
                                                        'class': 'form-control form-control-sm ' ~ (item.quantity.vars.valid ? '' : 'is-invalid')
                                                    }
                                                }) }}
                                                <div class="invalid-feedback">
                                                    {{ form_errors(item.quantity) }}
                                                </div>
                                            </div>
                                            {{ form_widget(item.remove, {'attr': {'class': 'btn btn-danger btn-sm'}}) }}
                                        </div>
                                    </div>
                                    <div class="flex-fill mr-2 text-right">
                                        <b>${{ item.vars.data.product.price|number_format(2) }}</b>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Total</b></div>
                                <span><b>${{ cart.total|number_format(2) }}</b></span>
                            </li>
                        </ul>
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- Summary -->
                <div class="col-md-6">
                    <div class="card mt-4 mt-md-0">
                        <h5 class="card-header bg-light">User Details</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Name</b></div>
                                <span><b>{{cart.firstname}} {{cart.lastname}}</b></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Phone</b></div>
                                <span><b>{{cart.phone}}</b></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <div><b>Address</b></div>
                                <span><b>{{cart.address}}</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}